<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e56236c56fd6515018cc47a8bf08e9eb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_e56236c56fd6515018cc47a8bf08e9eb" ></div>
        
</body>
<script>
    
    
            var map_e56236c56fd6515018cc47a8bf08e9eb = L.map(
                "map_e56236c56fd6515018cc47a8bf08e9eb",
                {
                    center: [12.9507, 80.1402],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 15,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_0fc6a44de796928932b6d7183870d975 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_0fc6a44de796928932b6d7183870d975.addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
            var circle_marker_64853585e3391c8ecfc7c7a4ca98a735 = L.circleMarker(
                [12.9507, 80.1402],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_b0db02a5344eab10774c961600b7af08 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5ccc74f7f875f03b9f6df8953ad77199 = $(`<div id="html_5ccc74f7f875f03b9f6df8953ad77199" style="width: 100.0%; height: 100.0%;">Chrompet Railway Station</div>`)[0];
                popup_b0db02a5344eab10774c961600b7af08.setContent(html_5ccc74f7f875f03b9f6df8953ad77199);
            
        

        circle_marker_64853585e3391c8ecfc7c7a4ca98a735.bindPopup(popup_b0db02a5344eab10774c961600b7af08)
        ;

        
    
    
            var circle_marker_e33bad9ba53338997755668362c99b75 = L.circleMarker(
                [12.9489, 80.1383],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_5637dcbf8e5bea9566c167ce1c5406d6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7e7c7127e262e8080208fd155bf0297e = $(`<div id="html_7e7c7127e262e8080208fd155bf0297e" style="width: 100.0%; height: 100.0%;">MIT</div>`)[0];
                popup_5637dcbf8e5bea9566c167ce1c5406d6.setContent(html_7e7c7127e262e8080208fd155bf0297e);
            
        

        circle_marker_e33bad9ba53338997755668362c99b75.bindPopup(popup_5637dcbf8e5bea9566c167ce1c5406d6)
        ;

        
    
    
            var circle_marker_8f72f79ca40bc85b606c96bde20137cc = L.circleMarker(
                [12.9515, 80.1415],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_a150927e607cda06af2f52d95d828f62 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c25adb1ccf243a0caefeba42dbaa3cbd = $(`<div id="html_c25adb1ccf243a0caefeba42dbaa3cbd" style="width: 100.0%; height: 100.0%;">Chrompet Bus Stand</div>`)[0];
                popup_a150927e607cda06af2f52d95d828f62.setContent(html_c25adb1ccf243a0caefeba42dbaa3cbd);
            
        

        circle_marker_8f72f79ca40bc85b606c96bde20137cc.bindPopup(popup_a150927e607cda06af2f52d95d828f62)
        ;

        
    
    
            var circle_marker_bf513cada7b56b060df4323f2d0c1955 = L.circleMarker(
                [12.9528, 80.1428],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_4af264a6d7bcabd5304a6386454515e4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_03b254a1c64cfdad22bff4cda923d15a = $(`<div id="html_03b254a1c64cfdad22bff4cda923d15a" style="width: 100.0%; height: 100.0%;">Saravana Stores Chrompet</div>`)[0];
                popup_4af264a6d7bcabd5304a6386454515e4.setContent(html_03b254a1c64cfdad22bff4cda923d15a);
            
        

        circle_marker_bf513cada7b56b060df4323f2d0c1955.bindPopup(popup_4af264a6d7bcabd5304a6386454515e4)
        ;

        
    
    
            var circle_marker_2c29ae9ae0aa3aa77d9cb8d8ca4b7623 = L.circleMarker(
                [12.9498, 80.1398],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_538fbf5197157f393c7fc2bec04a090d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_faa22521305d4cd15a7ecb64665e34cb = $(`<div id="html_faa22521305d4cd15a7ecb64665e34cb" style="width: 100.0%; height: 100.0%;">Chrompet Market</div>`)[0];
                popup_538fbf5197157f393c7fc2bec04a090d.setContent(html_faa22521305d4cd15a7ecb64665e34cb);
            
        

        circle_marker_2c29ae9ae0aa3aa77d9cb8d8ca4b7623.bindPopup(popup_538fbf5197157f393c7fc2bec04a090d)
        ;

        
    
    
            var circle_marker_b570e2a31c9d12ac19452e5e4a40bbd1 = L.circleMarker(
                [12.9545, 80.142],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_b5b7ac97cb104811cf498c732ccd4bbc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1728ed6b18c5efc8ef160493c40a8286 = $(`<div id="html_1728ed6b18c5efc8ef160493c40a8286" style="width: 100.0%; height: 100.0%;">GST Road Chrompet</div>`)[0];
                popup_b5b7ac97cb104811cf498c732ccd4bbc.setContent(html_1728ed6b18c5efc8ef160493c40a8286);
            
        

        circle_marker_b570e2a31c9d12ac19452e5e4a40bbd1.bindPopup(popup_b5b7ac97cb104811cf498c732ccd4bbc)
        ;

        
    
    
            var circle_marker_da43d3ed75d08d3b570f5014e67d1d0a = L.circleMarker(
                [12.9562, 80.1441],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_0fa21370da0597877a1f2984835146fb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6137fec1cf7d6eae369aceb7cd505e18 = $(`<div id="html_6137fec1cf7d6eae369aceb7cd505e18" style="width: 100.0%; height: 100.0%;">Chrompet Signal</div>`)[0];
                popup_0fa21370da0597877a1f2984835146fb.setContent(html_6137fec1cf7d6eae369aceb7cd505e18);
            
        

        circle_marker_da43d3ed75d08d3b570f5014e67d1d0a.bindPopup(popup_0fa21370da0597877a1f2984835146fb)
        ;

        
    
    
            var circle_marker_65961d434c27661cde17306c97220b02 = L.circleMarker(
                [12.9465, 80.1432],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_8b24a289253e4b155b508a9cfc1c1fc8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c77f4cc2d77eb4840a2ca1a80fd65f56 = $(`<div id="html_c77f4cc2d77eb4840a2ca1a80fd65f56" style="width: 100.0%; height: 100.0%;">Hasthinapuram Main Road</div>`)[0];
                popup_8b24a289253e4b155b508a9cfc1c1fc8.setContent(html_c77f4cc2d77eb4840a2ca1a80fd65f56);
            
        

        circle_marker_65961d434c27661cde17306c97220b02.bindPopup(popup_8b24a289253e4b155b508a9cfc1c1fc8)
        ;

        
    
    
            var circle_marker_71926c2c6d8a47d39abb5bb33111442c = L.circleMarker(
                [12.9437, 80.1482],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_52d3c24d480793b194bae25a123a542a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_af4f6f678333b3f4a694a3cd4a02d5a5 = $(`<div id="html_af4f6f678333b3f4a694a3cd4a02d5a5" style="width: 100.0%; height: 100.0%;">Kumaran Kundram Temple</div>`)[0];
                popup_52d3c24d480793b194bae25a123a542a.setContent(html_af4f6f678333b3f4a694a3cd4a02d5a5);
            
        

        circle_marker_71926c2c6d8a47d39abb5bb33111442c.bindPopup(popup_52d3c24d480793b194bae25a123a542a)
        ;

        
    
    
            var circle_marker_a828097360d832a65bc400a23c89b9cb = L.circleMarker(
                [12.9447, 80.1472],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_2ba6e7ceadee6a67b7f77e007afca742 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_14c432ea9b3c5596b2d48ae0282bc9c1 = $(`<div id="html_14c432ea9b3c5596b2d48ae0282bc9c1" style="width: 100.0%; height: 100.0%;">Kumaran Nagar</div>`)[0];
                popup_2ba6e7ceadee6a67b7f77e007afca742.setContent(html_14c432ea9b3c5596b2d48ae0282bc9c1);
            
        

        circle_marker_a828097360d832a65bc400a23c89b9cb.bindPopup(popup_2ba6e7ceadee6a67b7f77e007afca742)
        ;

        
    
    
            var circle_marker_1af3f0a77ed91af1c3d6888295abe895 = L.circleMarker(
                [12.9442, 80.1451],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_3ee6fd05b807c10f51da59ee03683cce = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_faba8d60e992e1be20e0ccc79df50d58 = $(`<div id="html_faba8d60e992e1be20e0ccc79df50d58" style="width: 100.0%; height: 100.0%;">Radha Nagar</div>`)[0];
                popup_3ee6fd05b807c10f51da59ee03683cce.setContent(html_faba8d60e992e1be20e0ccc79df50d58);
            
        

        circle_marker_1af3f0a77ed91af1c3d6888295abe895.bindPopup(popup_3ee6fd05b807c10f51da59ee03683cce)
        ;

        
    
    
            var circle_marker_b344b72ac78848091468fd1b225c27cf = L.circleMarker(
                [12.943, 80.1465],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_4e34c2cfa96892848bb0da5e355aede5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_59b1c9bc509ab4080875c7da0cdc5a2f = $(`<div id="html_59b1c9bc509ab4080875c7da0cdc5a2f" style="width: 100.0%; height: 100.0%;">Balaji Nagar</div>`)[0];
                popup_4e34c2cfa96892848bb0da5e355aede5.setContent(html_59b1c9bc509ab4080875c7da0cdc5a2f);
            
        

        circle_marker_b344b72ac78848091468fd1b225c27cf.bindPopup(popup_4e34c2cfa96892848bb0da5e355aede5)
        ;

        
    
    
            var circle_marker_cb31f32c9af8d49a266c60fa4c7d05d6 = L.circleMarker(
                [12.9398, 80.1502],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_12339bc67a00711fc50e1036649c163a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_99242375eb6dc432fd96fc0dba9b5d17 = $(`<div id="html_99242375eb6dc432fd96fc0dba9b5d17" style="width: 100.0%; height: 100.0%;">Nemilichery</div>`)[0];
                popup_12339bc67a00711fc50e1036649c163a.setContent(html_99242375eb6dc432fd96fc0dba9b5d17);
            
        

        circle_marker_cb31f32c9af8d49a266c60fa4c7d05d6.bindPopup(popup_12339bc67a00711fc50e1036649c163a)
        ;

        
    
    
            var circle_marker_4d29df4e89d3f164e0d5b4c367312990 = L.circleMarker(
                [12.9678, 80.1442],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_d140e525363df6a916275359bc67c386 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_310e73c27ec112ea27d03c5decb8197a = $(`<div id="html_310e73c27ec112ea27d03c5decb8197a" style="width: 100.0%; height: 100.0%;">Pammal</div>`)[0];
                popup_d140e525363df6a916275359bc67c386.setContent(html_310e73c27ec112ea27d03c5decb8197a);
            
        

        circle_marker_4d29df4e89d3f164e0d5b4c367312990.bindPopup(popup_d140e525363df6a916275359bc67c386)
        ;

        
    
    
            var circle_marker_266258c4af7c888560baf00b05440234 = L.circleMarker(
                [12.967, 80.1503],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_7fe303969a9d13cbb5ea5ea259064f69 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_756202de125862c88bef26bec8da3814 = $(`<div id="html_756202de125862c88bef26bec8da3814" style="width: 100.0%; height: 100.0%;">Pallavaram Bus Stand</div>`)[0];
                popup_7fe303969a9d13cbb5ea5ea259064f69.setContent(html_756202de125862c88bef26bec8da3814);
            
        

        circle_marker_266258c4af7c888560baf00b05440234.bindPopup(popup_7fe303969a9d13cbb5ea5ea259064f69)
        ;

        
    
    
            var circle_marker_ed907d572e99dc75863254e0a47f896b = L.circleMarker(
                [12.9675, 80.1491],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_1ec6fef2799c9d3a4ee94f74d87cbaab = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_53780ce1be8dbed232e5df793fb5b1e9 = $(`<div id="html_53780ce1be8dbed232e5df793fb5b1e9" style="width: 100.0%; height: 100.0%;">Pallavaram Railway Station</div>`)[0];
                popup_1ec6fef2799c9d3a4ee94f74d87cbaab.setContent(html_53780ce1be8dbed232e5df793fb5b1e9);
            
        

        circle_marker_ed907d572e99dc75863254e0a47f896b.bindPopup(popup_1ec6fef2799c9d3a4ee94f74d87cbaab)
        ;

        
    
    
            var circle_marker_458c7c6b4565848ea41df9c3d2011c8d = L.circleMarker(
                [12.981, 80.163],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_f5eb67c70f381994cae4a31b58dc5584 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f73c89e81748b56b994ff89a0d784bfb = $(`<div id="html_f73c89e81748b56b994ff89a0d784bfb" style="width: 100.0%; height: 100.0%;">Tirusulam Bridge</div>`)[0];
                popup_f5eb67c70f381994cae4a31b58dc5584.setContent(html_f73c89e81748b56b994ff89a0d784bfb);
            
        

        circle_marker_458c7c6b4565848ea41df9c3d2011c8d.bindPopup(popup_f5eb67c70f381994cae4a31b58dc5584)
        ;

        
    
    
            var circle_marker_6cdfc332b08e951830017a9d0614b13b = L.circleMarker(
                [12.9823, 80.1639],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_16562839e32041ae3ceee9f25f1f6eec = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_32d8d4271ecb028546a25ccae84bc1e5 = $(`<div id="html_32d8d4271ecb028546a25ccae84bc1e5" style="width: 100.0%; height: 100.0%;">Chennai Airport Metro</div>`)[0];
                popup_16562839e32041ae3ceee9f25f1f6eec.setContent(html_32d8d4271ecb028546a25ccae84bc1e5);
            
        

        circle_marker_6cdfc332b08e951830017a9d0614b13b.bindPopup(popup_16562839e32041ae3ceee9f25f1f6eec)
        ;

        
    
    
            var circle_marker_ee1c340e0e0349d3ad3845d55c3872d3 = L.circleMarker(
                [12.9657, 80.1525],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_79df7e632053434e2f7a89ed364fd394 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7744419426735086a443255c278571a0 = $(`<div id="html_7744419426735086a443255c278571a0" style="width: 100.0%; height: 100.0%;">Pallavaram Signal</div>`)[0];
                popup_79df7e632053434e2f7a89ed364fd394.setContent(html_7744419426735086a443255c278571a0);
            
        

        circle_marker_ee1c340e0e0349d3ad3845d55c3872d3.bindPopup(popup_79df7e632053434e2f7a89ed364fd394)
        ;

        
    
    
            var circle_marker_58f38ce863daa1d17f8be929a1278657 = L.circleMarker(
                [12.9603, 80.1472],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_0688c9fd1085e05d6e34ce98f16d9c68 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_021c69b6e3c6fe598e639773cf37f09f = $(`<div id="html_021c69b6e3c6fe598e639773cf37f09f" style="width: 100.0%; height: 100.0%;">Tambaram Sanatorium</div>`)[0];
                popup_0688c9fd1085e05d6e34ce98f16d9c68.setContent(html_021c69b6e3c6fe598e639773cf37f09f);
            
        

        circle_marker_58f38ce863daa1d17f8be929a1278657.bindPopup(popup_0688c9fd1085e05d6e34ce98f16d9c68)
        ;

        
    
    
            var circle_marker_bffb8c81627b3fe15aa3fb537921c56f = L.circleMarker(
                [12.9621, 80.1495],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_5da1c15d95ea7ed222322297613d29a2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9bb797d0503d8dbebeaaffc6e46607e5 = $(`<div id="html_9bb797d0503d8dbebeaaffc6e46607e5" style="width: 100.0%; height: 100.0%;">Tambaram Bus Stand</div>`)[0];
                popup_5da1c15d95ea7ed222322297613d29a2.setContent(html_9bb797d0503d8dbebeaaffc6e46607e5);
            
        

        circle_marker_bffb8c81627b3fe15aa3fb537921c56f.bindPopup(popup_5da1c15d95ea7ed222322297613d29a2)
        ;

        
    
    
            var circle_marker_4137cfffdfe7c6ad32d9249475f666ea = L.circleMarker(
                [12.9632, 80.1508],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_ebda04c104f0fe5a942223e33722e0f8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_08246997e20f52ff2452e251e456ef17 = $(`<div id="html_08246997e20f52ff2452e251e456ef17" style="width: 100.0%; height: 100.0%;">Tambaram Railway Station</div>`)[0];
                popup_ebda04c104f0fe5a942223e33722e0f8.setContent(html_08246997e20f52ff2452e251e456ef17);
            
        

        circle_marker_4137cfffdfe7c6ad32d9249475f666ea.bindPopup(popup_ebda04c104f0fe5a942223e33722e0f8)
        ;

        
    
    
            var circle_marker_4fc18e5387ad6fc9e2370ccc4abc131e = L.circleMarker(
                [12.965, 80.1525],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_af9860d99ab24c1e0ba4e94e2edf2c84 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_aba1f890c54014e5741db5b18ce0b36f = $(`<div id="html_aba1f890c54014e5741db5b18ce0b36f" style="width: 100.0%; height: 100.0%;">Tambaram Market</div>`)[0];
                popup_af9860d99ab24c1e0ba4e94e2edf2c84.setContent(html_aba1f890c54014e5741db5b18ce0b36f);
            
        

        circle_marker_4fc18e5387ad6fc9e2370ccc4abc131e.bindPopup(popup_af9860d99ab24c1e0ba4e94e2edf2c84)
        ;

        
    
    
            var circle_marker_4545c8c19b2e3f33d3f4d138803e7b3d = L.circleMarker(
                [12.9678, 80.154],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_5116a58fcfa50772127c1576cb173a77 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_db7d5a7b83d82f795fdd4350d0e5d02c = $(`<div id="html_db7d5a7b83d82f795fdd4350d0e5d02c" style="width: 100.0%; height: 100.0%;">West Tambaram</div>`)[0];
                popup_5116a58fcfa50772127c1576cb173a77.setContent(html_db7d5a7b83d82f795fdd4350d0e5d02c);
            
        

        circle_marker_4545c8c19b2e3f33d3f4d138803e7b3d.bindPopup(popup_5116a58fcfa50772127c1576cb173a77)
        ;

        
    
    
            var circle_marker_aa85f163a03b3a617cf025f16199dfdc = L.circleMarker(
                [12.9275, 80.147],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_6b9cca22d86ae911761e0738ed3caa3f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3825e7b713ac0f568d9b3757c0e8ac9b = $(`<div id="html_3825e7b713ac0f568d9b3757c0e8ac9b" style="width: 100.0%; height: 100.0%;">Selaiyur</div>`)[0];
                popup_6b9cca22d86ae911761e0738ed3caa3f.setContent(html_3825e7b713ac0f568d9b3757c0e8ac9b);
            
        

        circle_marker_aa85f163a03b3a617cf025f16199dfdc.bindPopup(popup_6b9cca22d86ae911761e0738ed3caa3f)
        ;

        
    
    
            var circle_marker_b1b53d041850773af75e8ca52feb51a9 = L.circleMarker(
                [12.922, 80.1488],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_f9ed9fae375aaf24c1c887e9db4f1e1c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3f55f9ba41c095820c7a3936e35c100a = $(`<div id="html_3f55f9ba41c095820c7a3936e35c100a" style="width: 100.0%; height: 100.0%;">Sembakkam</div>`)[0];
                popup_f9ed9fae375aaf24c1c887e9db4f1e1c.setContent(html_3f55f9ba41c095820c7a3936e35c100a);
            
        

        circle_marker_b1b53d041850773af75e8ca52feb51a9.bindPopup(popup_f9ed9fae375aaf24c1c887e9db4f1e1c)
        ;

        
    
    
            var circle_marker_643bb26cfbca9c7f4800494c8c98e188 = L.circleMarker(
                [12.9145, 80.17],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_487ca286c7e14878de7e6a9076a3c84a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a030478b3a080026933c7e0d646fb438 = $(`<div id="html_a030478b3a080026933c7e0d646fb438" style="width: 100.0%; height: 100.0%;">Medavakkam</div>`)[0];
                popup_487ca286c7e14878de7e6a9076a3c84a.setContent(html_a030478b3a080026933c7e0d646fb438);
            
        

        circle_marker_643bb26cfbca9c7f4800494c8c98e188.bindPopup(popup_487ca286c7e14878de7e6a9076a3c84a)
        ;

        
    
    
            var circle_marker_2bb88448e64373d59da75bb795ed85e2 = L.circleMarker(
                [12.899, 80.193],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_9aa8625690b465ea4613ee29f5e3d452 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fd6452276f8e5ec704f5531392290f0e = $(`<div id="html_fd6452276f8e5ec704f5531392290f0e" style="width: 100.0%; height: 100.0%;">Perumbakkam</div>`)[0];
                popup_9aa8625690b465ea4613ee29f5e3d452.setContent(html_fd6452276f8e5ec704f5531392290f0e);
            
        

        circle_marker_2bb88448e64373d59da75bb795ed85e2.bindPopup(popup_9aa8625690b465ea4613ee29f5e3d452)
        ;

        
    
    
            var circle_marker_6920e33edd92601a1162b77585f25f21 = L.circleMarker(
                [12.902, 80.227],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_4f00bdbf28ae4a47691c01d75cd53004 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4da967ceb5b3401391045286979a824c = $(`<div id="html_4da967ceb5b3401391045286979a824c" style="width: 100.0%; height: 100.0%;">Sholinganallur</div>`)[0];
                popup_4f00bdbf28ae4a47691c01d75cd53004.setContent(html_4da967ceb5b3401391045286979a824c);
            
        

        circle_marker_6920e33edd92601a1162b77585f25f21.bindPopup(popup_4f00bdbf28ae4a47691c01d75cd53004)
        ;

        
    
    
            var circle_marker_8d86af057bfd6e44a28bac9ee1d498f7 = L.circleMarker(
                [12.946, 80.233],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_d011adc71d95aa0404a754fc7523d4cb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b8a322ddb153351d121ddd5daac03c45 = $(`<div id="html_b8a322ddb153351d121ddd5daac03c45" style="width: 100.0%; height: 100.0%;">Thoraipakkam</div>`)[0];
                popup_d011adc71d95aa0404a754fc7523d4cb.setContent(html_b8a322ddb153351d121ddd5daac03c45);
            
        

        circle_marker_8d86af057bfd6e44a28bac9ee1d498f7.bindPopup(popup_d011adc71d95aa0404a754fc7523d4cb)
        ;

        
    
    
            var circle_marker_4538572771a78110d71a8b74b0bfb6ca = L.circleMarker(
                [12.9573, 80.1284],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_c97c6c2ecefa40ee970b6c0b332574df = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_07add8f7bd881e36ba7c1495ab48621c = $(`<div id="html_07add8f7bd881e36ba7c1495ab48621c" style="width: 100.0%; height: 100.0%;">Thiruneermalai Road</div>`)[0];
                popup_c97c6c2ecefa40ee970b6c0b332574df.setContent(html_07add8f7bd881e36ba7c1495ab48621c);
            
        

        circle_marker_4538572771a78110d71a8b74b0bfb6ca.bindPopup(popup_c97c6c2ecefa40ee970b6c0b332574df)
        ;

        
    
    
            var circle_marker_4457b4d2976ed789b60e6f2023f6b040 = L.circleMarker(
                [12.9496, 80.1375],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.6, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
        var popup_327ae2290710c91b4dea173e720ed3dd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9a85f1091be0158c0408ee1018589a46 = $(`<div id="html_9a85f1091be0158c0408ee1018589a46" style="width: 100.0%; height: 100.0%;">Kamaraj Street</div>`)[0];
                popup_327ae2290710c91b4dea173e720ed3dd.setContent(html_9a85f1091be0158c0408ee1018589a46);
            
        

        circle_marker_4457b4d2976ed789b60e6f2023f6b040.bindPopup(popup_327ae2290710c91b4dea173e720ed3dd)
        ;

        
    
    
            var marker_542713a0dd955cd833c82c6e7077a750 = L.marker(
                [12.9507, 80.1402],
                {
}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
            var icon_657356a15141741c06ef59f45ba3d478 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1b45c5ef2368f0ff84c438fe42b60f09 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cb7e5c9d42366f644b4ef71664ee9652 = $(`<div id="html_cb7e5c9d42366f644b4ef71664ee9652" style="width: 100.0%; height: 100.0%;">Chrompet Railway Station</div>`)[0];
                popup_1b45c5ef2368f0ff84c438fe42b60f09.setContent(html_cb7e5c9d42366f644b4ef71664ee9652);
            
        

        marker_542713a0dd955cd833c82c6e7077a750.bindPopup(popup_1b45c5ef2368f0ff84c438fe42b60f09)
        ;

        
    
    
                marker_542713a0dd955cd833c82c6e7077a750.setIcon(icon_657356a15141741c06ef59f45ba3d478);
            
    
            var poly_line_da8679e6f5d20a3c07a87c2a8a7ae5d4 = L.polyline(
                [[12.9507, 80.1402], [12.9489, 80.1383]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.9, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
            var marker_f99d6eedf540c7abba0a4b69a5a8034d = L.marker(
                [12.9489, 80.1383],
                {
}
            ).addTo(map_e56236c56fd6515018cc47a8bf08e9eb);
        
    
            var icon_a41a27cc4435a2c7a91b0d8a8a11c73c = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_0f38572a9e7cdf6dda6b76c857cda4c9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_81dc6d1a177920123981ce45bd95ae95 = $(`<div id="html_81dc6d1a177920123981ce45bd95ae95" style="width: 100.0%; height: 100.0%;">MIT</div>`)[0];
                popup_0f38572a9e7cdf6dda6b76c857cda4c9.setContent(html_81dc6d1a177920123981ce45bd95ae95);
            
        

        marker_f99d6eedf540c7abba0a4b69a5a8034d.bindPopup(popup_0f38572a9e7cdf6dda6b76c857cda4c9)
        ;

        
    
    
                marker_f99d6eedf540c7abba0a4b69a5a8034d.setIcon(icon_a41a27cc4435a2c7a91b0d8a8a11c73c);
            
</script>
</html>
